@using System.Linq
@model IEnumerable<VehicleType>
@{
    ViewData["Title"] = "Vehicle Types";
}

<table class="table">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">TypeName</th>
            <th scope="col">TaxCoefficient</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><strong>@item.Id</strong></td>
                <td>@item.TypeName</td>
                <td>@item.TaxCoefficient</td>
                <td>
                    <form method="post" class="d-inline">
                        <button class="btn btn-sm btn-outline-danger"
                                asp-controller="VehicleType" asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </button>
                    </form>
                    <a class="btn btn-sm btn-outline-primary"
                       asp-controller="VehicleType" asp-action="Update" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
    <caption>To add new item press <a class="btn btn-sm btn-primary" asp-controller="VehicleType" asp-action="Add">Add</a></caption>
</table>